@page
@model WebApplication7.Pages.Tasks.InsertModel
@{
}
<br>
<h2>Add Task</h2>
@*form to allow user to insert task details*@
<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Task name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="" required/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Task description</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="description" value="" required/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Select employee</label>
        <div class="col-sm-6">
            <select class="form-control" name="id_employee" required>
                @*show user list of employee to select one*@
                @foreach (var item in Model.listEmplyee)
                {
                    <option value=@item.id>@item.em_name</option>
                }
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3">
            @*sumbit putton to send data to post void*@
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3">
            @*cancel operation*@
            <a class="btn btn-outline-primary " href="/" role="button">Cancel</a>
        </div>
    </div>
</form>

