@page
@model IndexModel
@{
    ViewData["Title"] = "Tasks's with CRUD";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tasks's with CRUD website</h1>
    <p>where you can Add,Edit,Delete and assing your tasks to any employee with just one click</p>
</div>
